#visualization {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: hidden;
}

/* Disable text selection */
#visualization text {
    user-select: none;
    pointer-events: none;
}

#tooltip div {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#tooltip strong {
    text-align: right;
    flex-grow: 2;
}

#tooltip span {
    text-align: left;
    margin-left: 10px;
    flex-grow: 1;
}
